
* {
  box-sizing: border-box;
  background-color: #000119;
}

.background {
  background-color: #000119;
  display: grid;
  margin: 0;
  place-items: center;
  padding: 5vmin;
}

h1 {
  background-clip: text;
  background-image: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f);
  color: #000119;
  font-size: 10vmin;
  font-weight: 700;
  letter-spacing: calc(1em / 8);
  padding: calc(1em / 32);
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: calc(1em / 16);
}